
.song-poster{
  width:10%;
  height:100%;
  border-radius: 4px;
  margin-left:10px;
}

.playlist-song{
  display:flex;
  justify-content: center;
}
.playlist-song:hover{
  cursor:pointer;
  background: #313131;
  backdrop-filter: blur(30px);
  border-radius:6px;
  transition: ease-in-out .2s;
}
.playlist-song p{
  font-size:11px;
}

@media screen and (max-width:1200px){
  .song-poster{
    width: 20%;
  }
}

@media screen and (max-width:992px) {
  .song-poster {
    width: 40%;
  }
}

@media screen and (max-width:576px) {
  .song-poster {
    width: 50%;
  }
}

@media screen and (max-width:480px) {
  .song-poster {
    width: 60%;
    height:80%;
  }
}

@media screen and (max-width:480px) {
  .song-poster {
    width: 50%;
    height: 60%;
  }
}
@media screen and (max-width:375px) {
  .song-poster {
    width: 50%;
    height: 40%;
  }
}