
.song-poster{
  width:10%;
  height:100%;
  border-radius: 4px;
  margin-left:10px;
}

.playlist-song{
  display:flex;
  justify-content: center;
}
.playlist-song:hover{
  cursor:pointer;
  background: #313131;
  backdrop-filter: blur(30px);
  border-radius:6px;
  transition: ease-in-out .2s;
}
.playlist-song p{
  font-size:11px;
}
