.topButtons{
    display: flex;
    justify-content: space-between;
  }

.follow{
color: #FFFFFF;
width: 171px;
height: 42px;
border: 2px solid #FFFFFF;
border-radius: 40px;
opacity: 1;
background: transparent;
margin-right: 20px
}

.follow:focus{
outline: none;
}

.shuffle{
color: #FFFFFF;
width: 171px;
height: 42px;
background: transparent;
border-radius: 40px;
opacity: 1;
border: 2px solid #FFFFFF;
}

.shuffle:focus{
    outline: none;
}