

.dropbtn {
    background-color: #161a1a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3A3A3D;
    width: 180px;
    height: 140px;
    box-shadow: -3px 2px 4px #0000004D;
    border-radius: 8px;
    z-index: 1;
    right: 40px;
    top: 28px;
}

.dropdown-content span {
    color: #f9f9f9;
    padding: 10px 16px 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content span:hover {
    background-color: #0000004D;
    color: antiquewhite;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #161a1a;
}