#myUL {

    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: scroll;
    width: 300px;
}

#myUl li{
    padding-top: 2px;
} 
#search{
    color: white !important;
}

.view{
    font-family: Lato;
}

.italic{
    font: normal normal normal 14px Lato;
    letter-spacing: 0.08px;
    color: #D5D5D5;
    opacity: 1;
    border: none;
    background-color: rgba(255,255,255, 0);
}

input::-webkit-input-placeholder {

    color: #bfbfbf;
}

input:-moz-placeholder {

    color: #bfbfbf;
}

input::-moz-placeholder {

    color: #bfbfbf;
}

input:-ms-input-placeholder {

    color: #bfbfbf;
}

