.accountsetting{
  margin-left: 300px;
  color: white !important
}

.div-containery {
  background: #161a1a;
  color: white;
  font-family: 'lato', sans-serif;
}


.bottomButtons {
  display: flex;
  margin-top: 50px;
}


.div-container {
  padding: 0px 280px;
}
.List-img {
  width: 2rem;
  height: 2rem;
  /* border-radius: 100%; */
  /* margin-right: 0.5rem; */
}
.center {
  display: 'flex';
  justify-content: 'center';
  /* float: none; */
  margin: 0 auto;
}
.subtitle {
  display: flex;
  justify-content: flex-start;
  margin-left: 7rem;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}
.container {
  display: block;
  width: 100%;
}
table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
  justify-content: center;
}
th {
  /* background-color: #4287f5; */
  color: white;
}
th,
td {
  width: 150px;
  text-align: center;
  padding: 5px;
}
.space {
  margin-right: 2rem !important;
}
.flex-container {
  /* display: flex;
  flex-direction: row;
  margin-top: 4rem;
  /* position: relative; */
  /* justify-content: space-between; */
  width: 100%;
  height: 12vh;
  /* background-color: red; */
  margin-top: 4rem;
}
.image-parent {
  /* width: 30%;
    height: 100%; */
  height: 5.3rem;
  width: 5.3rem;
  float: left;
  background-color: #313131;
  border-radius: 50%;
}
.try {
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 1.6rem;
  /* background-color: green; */
  text-align: left;
}
.premium {
  width: 160px;
  float: right;
  background: transparent
    linear-gradient(269deg, #9b2def 0%, #2d9bef 61%, #35edfb 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 40px;
  padding: 6px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  color: #fff;
}
.logout {
  width: 160px;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 6px 30px;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  background: none;
  color: #fff;
  font-size: 12px;
  margin: 20px auto;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  padding: 0.5rem;
}
.hello {
  margin-left: 100px;
}
.username {
  text-transform: capitalize;
}
.hello2 {
  color: #99999f;
  font-size: 12px;
}
.card-style {
  background-color: #161a1a;
}
.div-form {
  background-color: #161a1a !important;
  color: #ffffff;
}
.div-form:focus {
  border: none;
}
.gender * {
  color: #99999f !important;
  border-bottom: #fff;
  /* padding-top: 20px; */
  /* padding-bottom:10px */
}
.form {
  /* background-color: red; */
  margin-top: 2rem;
  width: 100%;
  /* height: 40vh; */
}
.form-title {
  /* text-align: right;
    display: inline-block; */
  /* background-color: #35edfb; */
  text-align: left;
  /* font-weight: bold; */
  font-size: 24px;
  color: #ffffff;
}


.horizon{
  margin: 1rem auto;
  color: #fff;
  background-color: #fff;
  /* width: 79%; */
  text-align: center;
  border: 1px solid white;
  opacity: 0.3;
}
.social-wrapper{
 margin-top: 50px;
 /* width: 77%; */
}

/* .streaming-wrapper{
  width: 0px;
} */
.social-wrapper-child1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.3rem auto;
}
.streaming{
  margin-top: 2rem;
  display: inline-block;
  /* margin-left: 8rem; */
  font-size: 24px;
  font-family: lato, sans-serif;
  font-weight: bold;
}
.premium-feature{
  margin-top: 0.5rem;
  font-family: lato, sans-serif;
  /* font-weight: bold; */
  font-size: 16px;
  /* margin-left: 8rem; */
}
.radio-paren{
 font-family: lato, sans-serif;
 /* margin-left: 8rem; */
}

.buttonText{
 color:#fff;
 display: inline-block;
 margin-left: 0.8rem;
 opacity: 0.3;
 font-size: 16px;
}
.horizon2{
  margin-bottom: 3rem
}
.account-parent{
 margin: 0 auto;
 /* width: 77%; */
}
.account{
 text-align: left;
 font-family: Lato, sans-serif;
 font-weight: bold;
 font-size: 24px;
 opacity: 1;
}
.notifications{
  opacity: 1;
  letter-spacing: 0.1px;
  font-size: 17px;
  text-align: left;
  /* font-weight: bold; */
  margin: 1.2rem 0;
}
.notifications2{
 opacity: 0.4;
 letter-spacing: 0.1px;
 font-size: 17px;
 text-align: left;
 /* font-weight: bold; */
 margin: 1.2rem 0;
}
.change-password{
 cursor: pointer;
}
.change-password:hover{
 opacity: 0.4;
 color: #2DCEEF;
}
  /* On screens that are 992px or less, set the background color to olive */
   @media screen and (max-width: 992px) {
       
     }
     
     /* On screens that are 600px or less, set the background color to olive */
     @media screen and (max-width: 600px) {
       .par{
         height: 100vh;
         width: 100%
       }
       .tables{
         
       }
       .icony{
         display: none;
       }
       .premium {
         position: relative;
         top: 130px;
         margin-left: 200px !important; 
         border:1px solid red;
         text-align: center;
         
       }
       .container td{
         font-size: 12px;
       }
       .space-left{
         display: none;
       }
       .user1{
         /* color: green; */
         position: absolute;
         top: -45px;
         font-size: 1.1rem;
         font-weight: bold;
         left: 100px;
       }
       .image-parent{
         margin-left: 100px;
         position: absolute;
       }
       .free-account{
         width: 150px;
         top: 120px;
         left: 85px;
         position: absolute;
         
       }
       .contact{
         position: relative;
         left: 35px;
         top: 95px;
         font-size: 20px;
       }
     }








